/target
/omegat/*.bak
/omegat/project_stats.txt
/omegat/project_stats_match.txt
/omegat/project_stats_match_per_file.txt
/omegat/last_entry.properties
gradle-level1.tmx
gradle-level2.tmx
gradle-omegat.tmx
glossary/
